<div id="container">
    <h1>Secrets</h1>
    <a href="/users/<%=current_user.id %>">Profile</a>
    <% @secrets.each do |secret| %>
    <div id="wrapper">
            <h4><%= secret.content %></h4>
            <p><%= secret.likes.count %> likes</p>
            <% if Like.where(secret_id: secret.id, user_id: current_user.id).count == 0 %>
                <form action="/likes" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="secret" value="<%= secret.id %>">
                    <input type="submit" value="Like">
                </form>
            <% else %>
                <form action="/likes/<%=secret.id %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="submit" value="Unlike">
                </form>
            <% end %>
            <% if current_user == secret.user %>
                <form action="/secrets/<%= secret.id %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="submit" value="Delete Secret">
                </form>
            <% end %>
    </div>
    <% end %>
</div>

